{% extends "blog/base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- About Section -->
                <div class="about-content">
                    <h2 class="about-header">About Us</h2>
                    <div class="about-text">
                        <p>Welcome to Tomato Blog! We are passionate about food, cooking, and sharing delicious recipes. Our goal is to provide you with a platform where you can find and share your favorite recipes with the world.</p>
                        <p>Whether you're an experienced chef or a beginner in the kitchen, we have something for everyone. Explore our blog for exciting food posts, tips, and culinary inspiration.</p>
                        <p>Feel free to join our community and share your thoughts, ideas, and recipes!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
